{% extends 'base.html' %}
{% block title %}404-Blog{% endblock %}
{% block content %}
<section class="baner" id="baner">
    <div class="welco">
        <h2 class="text typewrite" id='welcome' data-period="2000" data-type='[ "Hello", "Witam", "こんにちは", "Bonjour"]'></h2>
    </div>
</section>
</div>
<section class="content">
<div class="tite_list">
    <br>
{% if object_list|length < 11 %}
    {% if object_list|length == 0%}
        <h4>Niedługo pierwszy post zostanie opublikowany</h4>
    {% elif object_list|length == 1%}
        <h4>Ostatni post</h4>
    {% else %}
        <h4>Ostatnie posty</h4>
    {% endif %}
{% else %}
    <h4><h4>Ostatnie posty</h4></h4>
{% endif %}
</div>
<div class="service-container">
 {% for post in object_list %}
    {% if forloop.counter0 < 6 %}
        <div class="service">
            <div class="service-title">
                <a href="{% url 'article' post.pk%}">{{post.title}}</a>
            </div>
            <div class="service-body">
                <p>{{post.snippet}}...</p>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
</section>
{% endblock %}
